* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier;
    text-decoration: none;
    font-size: 1.5vw;
  }

  body {
    background-image: url("Words_Background.jpg");
    background-size: 100%; 
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5vw;
    text-decoration: none;
    border-bottom: .3vw double;
    background-image: none;
    background-color:black;
    opacity: .65;
    color:white;
    font-size: 2vw;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-image: none;
    background-color:rgb(0, 0, 0);
    color:white;
    
  }
  
  nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5vw;
    text-decoration: none;
    background-image: none;
    background-color:black;
    color:white;
    
  }

  div.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    border: .3vw solid;
    margin: auto;
    width: 50%;
    padding: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2vw;
    font-family: Optima;
    flex-wrap: wrap;
    background-image: none;
    background-color:white;
    color:black;
  }



  p.words{
    margin: 5%;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.4vw;
    font-family: Optima;
    background-image: none;
    background-color:black;
    color:white;
    opacity: .65;
    padding: 2vw;
  }

  a.wrds{
    font-size: 1.4vw !important; 
    color: #ffffff;
  }

  @media (max-aspect-ratio: 12/8) {
    * {
      font-size: 5vw;
    }
    div.middle{
      position:absolute;
      font-size: 3.5vw;
      border: .4vw solid;
      padding: 3vw;
    }
    a.email {
      font-size: 2.5vw;
      padding: 3%;
    }
    header {
      border-bottom: .4vw solid;
      font-size: 7vw;
    }
    p.words{
      font-size: 3.5vw;
      opacity: .80;
    }
    a.wrds{
      font-size: 3.5vw !important;
    }
    body {
      width: 100vw;
      height: 100vh;
      background-image: url("Mobile_Background2.png"); 
      background-size: cover;
      overflow-y: visible;
      overflow-x: visible;
    }
  }
