* {
    margin: 0;
    /* margin-left: .3vw;
    margin-right: .3vw; */
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Courier;
    text-decoration: none;
    font-size: 2vw;
  }

  body {
    /* background-image: url("MOASIC.svg"), url("backbackground.jpg");
    background-size: 50%, 100%; 
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white; */


    background-image: url("backbackground.jpg");
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    background-size: 100%; 
    background-color: white;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5vw;
    text-decoration: none;
    border-bottom: .3vw double;
    /* border-right: .3vw solid;
    border-left: .3vw solid; */
    background-image: none;
    /* background-color: black;
    color: white; */
    background-color:black;
    opacity: .65;
    color:white;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-image: none;
    /* background-color: black;
    color: white; */
    background-color:rgb(0, 0, 0);
    /* opacity: .75; */
    color:white;
    
  }
  
  nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5vw;
    text-decoration: none;
    background-image: none;
    /* background-color: black;
    color: white; */

    background-color:black;
    /* opacity: .75; */
    color:white;
    
  }

  #gallery {
    /* Prevent vertical gaps */
    line-height: 0;
    align-items: left;
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px;  
  }
  
  #gallery img {
    /* Just in case there are inline attributes */
    max-width: 100% !important;
    height: auto !important;
  }
  


  @media (max-aspect-ratio: 8/8) {
    * {
      font-size: 5vw;
    }
    header {
      border-bottom: .4vw solid;
    }
    #gallery {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
        }
  }

  @media (max-aspect-ratio: 14/8) {
    * {
      font-size: 5vw;
    }
    header {
      border-bottom: .4vw solid;
    }
    #gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
        }
  }